---
import { SITE_DESCRIPTION } from '@/consts';
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import PostList from '@/components/PostList.vue';

const posts = (await getCollection('post')).sort(
  (a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf()
);
---

<BaseLayout title={'首頁'} description={SITE_DESCRIPTION}>
  <div class="container-sm section">
    <PostList posts={posts} />
  </div>
</BaseLayout>
