<footer>
  <div class="container-sm flex flex-wrap items-center justify-between gap-2 py-10">
    <p class="text-nowrap text-[12px] text-deco-dark">© 2024 Weining All rights reserved.</p>

    <ul class="flex items-center gap-2 text-[18px] text-deco-dark">
      <li title="GitHub">
        <a href="https://github.com/jill83123" class="hover:text-primary">
          <span class="icon-[mdi--github]"></span>
        </a>
      </li>
      <li title="lit.link">
        <a href="https://lit.link/en/WeiningQQ" class="hover:text-primary">
          <span class="icon-[icon-park-outline--link]"></span>
        </a>
      </li>
    </ul>
  </div>
</footer>
