---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <span>
    <slot />
  </span>
</a>

<style lang="scss">
  a {
    display: block;
    padding: 12px;

    &.active {
      font-weight: 500;
    }
  }

  span {
    position: relative;
  }

  a:hover > span,
  a.active > span {
    &::after {
      content: '';
      position: absolute;
      inset: 60% 0 -5% 0;
      z-index: -1;
      background-color: var(--color-primary);
      opacity: 0.5;
    }
  }
</style>
